header{
    background-color: #2c3e50;
    display: flex;
    align-items: center;

    /* debug */
    min-height: 100px;
}

.logo, .nav{
    /* debug */
    background-color:white;
    min-height: 20px;
}

#jumbo{
    background-color: #1abc9c;
    display: flex;
    align-items: center;
    /* debug */
    min-height: 500px;
}

.jumbo-content{
    
     /* debug */
     background-color:white;
     min-height: 200px;
}

#portfolio{
    padding: 10px;
    text-align: center;
}

.text-db{
     /* debug */
     background-color:rgb(227, 0, 0);
     min-height: 20px;
}

#porfolio-content{
    padding: 50px;
}

.portfolio-img{
    /* debug */
    width: 150px;
    height: 150px;
    background-color: salmon;
    border: solid 1px black;
    margin: 20px;
}

#about{
    padding: 10px;
    text-align: center;
    color: white;
    background-color: #1abc9c;
}

.text-about{
    padding: 10px;
}

.text-dowload{
 border: 1px solid white ;
 border-radius: 2px;
}

footer{
    color: white;
}
#recapiti{
    background-color: #3a546d;
}
#copyright{
    text-align: center;
    background-color:#2c3e50 ;
}